<h1>Orders</h1>

<div id="orders" class="product-list">
  <% @orders.each do |order| %>
    <div class="product-entry">
      <div>
        <h2><%= order.name %></h2>

        <p>
          <strong>Email:</strong>
          <%= order.email %>
        </p>

        <p>
          <strong>Payment:</strong>
          <%= order.pay_type %>
        </p>

        <p>
          <%= link_to "Show this order", order %>
        </p>
      </div>
    </div>
  <% end %>
</div>
