<h1>Carts</h1>

<div id="carts" class="product-list">
  <% @carts.each do |cart| %>
    <div class="product-entry">
      <div>
        <h2>Cart #<%= cart.id %></h2>

        <p>
          <%= pluralize(cart.line_items.count, "line item") %>
        </p>

        <p>
          <%= link_to "Show this cart", cart %>
        </p>
      </div>
    </div>
  <% end %>
</div>
