<h1>Categories</h1>

<div id="categories" class="product-list">
  <% @categories.each do |category| %>
    <div class="product-entry">
      <div>
        <h2><%= category.name %></h2>

        <p>
          <%= pluralize(category.products.count, "product") %>
        </p>

        <p>
          <%= link_to "Show this category", category %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<p>
  <%= link_to "New category", new_category_path %>
</p>
